services:
  backend-asnday:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: asnday
    restart: unless-stopped
    tty: true
    working_dir: /var/www
    volumes:
      - ./:/var/www
      - ./php.ini:/usr/local/etc/php/php.ini
    depends_on:
      - mysql
    networks:
      - app-network

  mysql:
    image: mysql:8
    container_name: mysql
    restart: unless-stopped
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    environment:
      - MYSQL_DATABASE=undian_korpri
      - MYSQL_USER=undian
      - MYSQL_PASSWORD=Korpri2@25!!@
      - MYSQL_ROOT_PASSWORD=Korpri2@25!!@
    networks:
      - app-network

  nginx:
    image: nginx:stable-alpine
    container_name: nginx
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/app.conf:/etc/nginx/conf.d/default.conf
      - ./ssl_full/server.pem:/etc/nginx/asnday.pem
      - .:/var/www
    networks:
      - app-network

volumes:
  mysql_data:

networks:
  app-network:
    driver: bridge
